html, body {
    height: 100%;
    margin: 0px;
    background-color: darkorange;
}
div#wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}
br.clear {
    clear: both;
    font-size: 0px;
    line-height: 0px;
}
/*-- TOP --*/
#top {
    position: absolute;
    width: 100%;
    z-index: 999;
    /*    overflow: hidden;*/
}
#top .top_content {
    height: 100%;
    background-image: url(../graph/topbg.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 40px;
}
#top .logo {
    /*    position: absolute;*/
    position: relative;
    float: left;
    background-image: url(../graph/topbg2.png);
    background-repeat: no-repeat;
    background-position: -681px bottom;
    height: 70px;
}
#top .logo .full {
    margin-top: 25px;
}
#top .logo .full img {
    max-height: 30px;
}
#top #menu ul, #top #menu ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#top #menu ul li {
    float: left;
    padding: 5px;
}
#top #infobar div.material {
    float: left;
    padding: 5px;
}
#top #infobar div.separator {
    float: left;
    border: 1px solid silver;
    height: 20px;
}
#top .moveHandle {
    display: inline-block;
}

/*-- /koniec TOP --*/

/*-- Mapa --*/
div#map {
    width: 100%;
    height: 100%;
    position: absolute;
}
div#map img.province {
    position: absolute;
    filter:alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.6;
}
div#map img.province-hover {
    filter:alpha(opacity=100);
    opacity: 1.0;
    -moz-opacity: 1.0;
}
div#maparea {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 555;
    top: 0px;
    left: 0px;
}
div#maparea img {
    width: 100%;
    height: 100%;
}
div#mapdrag {
    position: absolute;
    width: 150%;
    height: 150%;
    top: 0px;
    left: 0px;
    z-index: 777;
    filter:alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.6;
    background: lime;
    display: none;
}

.provinceInfo {
    position: absolute;
    text-align: center;
    font-family: Arial;
}
.provinceInfo .pName {
    color: #990000;
}
.provinceInfo .pOwner {
    color: #786969;
    font-size: 11px;
}

.detectArea {
    position: absolute;
    z-index: 777;
    filter:alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.6;
    background: green;
}
.detectArea:hover {
    background: red;
}
.daLeft {
    width: 40px;
    height: 100%;
    left:0px;
}
.daRight {
    width: 40px;
    height: 100%;
    right: 0px;
}
.daTop {
    width: 100%;
    height: 80px;
    top: 0px;
}
.daBottom {
    width: 100%;
    height: 40px;
    bottom: 0px;
}

.movePointItem {
    position: absolute;
    background: orangered;
    display: none;
}

/*-- koniec Mapa --*/

/*-- Widok prowincji --*/
div#provinceView {
    padding: 0px;
    overflow: hidden;
}
div#provinceView .loading {
    display: block;
}
div#provinceView .loaded {
    display: none;
    width: 100%;
    height: 100%;
}
div#provinceView div.provinceDetail {
    background: url(../graph/province_bg.png) no-repeat;
    width: 100%;
    height: 100%;
}
div#provinceView .resourcesbar {
    height: 30px;
    font-size: 12px;
    color: #454545;
    padding-top: 5px;
    padding-left: 10px;
}
div#provinceView .resourcesbar div.resItem {
    float: left;
    margin-right: 5px;
    position: relative;
    cursor: default;
}
div#provinceView .resourcesbar div.resItem > div {
    float: left;
}
div#provinceView .resourcesbar div.resItem .icon img {
    max-width: 25px;
    max-height: 25px;
}
div#provinceView .resourcesbar div.value {
    font-weight: bold;
    border-right: 1px solid #635b2c;
    padding-right: 3px;
    padding-top: 5px;

}
div#provinceView .resourcesbar div.resItem .name {
    display: none;
    position: absolute;
    top: 40px;
}
/*div#provinceView .resourcesbar div.resItem:hover .name {
    display: block;
}*/
.resToolpit {
    color: white;
    background: lime;
}

/*--Action menu--*/
div#provinceView .resourcesbar .actionMenu {
    float: right;
    top: 4px;
}
div#provinceView .resourcesbar .actionMenu .items {
    right: -1px;
    width: 100px;
    text-align: right;
}
div#provinceView .resourcesbar .actionMenu .items .icon-adv {
    float: right;
}
.actionMenu {
    position: relative;
}
.actionMenu .icon {
    display: block;
}
.actionMenu .icon span.ui-icon {
    display: inline-block;
}
.actionMenu .items {
    display: none;
    position: absolute;
    z-index: 999;
    background: gray;
    border: 1px white solid;
    top: -1px;
}
.actionMenu:hover .items {
    display: block;
}
.actionMenu:hover .icon {
    display: none;
}
.actionMenu:hover .items .icon-adv {
    display: block;
}
.actionMenu .items ul,
.actionMenu .items ul li {
    margin: 0px;
    padding: 0px;
}
.actionMenu .items ul li {
    padding: 5px;
    display: block;
    border-bottom: 1px #FFE69C solid;
}
.actionMenu .items ul li a {
    display: block;
    text-decoration: none;
}
.actionMenu .items ul li:hover {
    background: silver;

}

/*-- koniec Widok prowincji --*/

/*-- Widok budynku --*/
div#buildingView {

}
div#buildingView div.buildingDetail {
    background: url(../graph/buildings/inside.png) no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
}

/*-- koniec Widok budynku --*/

/*-- Ball Menu --*/
div#mapMenuBall {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 666;
}
/*-- koniec Ball Menu --*/



/*-- ball menu przy widoku prowincji --*/
div.slot {
    position: absolute;
    /*    background: url(../graphics/slot.png);*/
}
div#slot0 {
    left: 300px;
    top: 60px;
}
div#slot1 {
    left: 590px;
    top: 190px;
}
div#slot2 {
    left: 460px;
    top: 340px;
}
div#slot3 {
    left: 150px;
    top: 340px;
}
div#slot4 {
    left: 10px;
    top: 190px;
}
/*-- /koniec ball menu przy widoku prowincji --*/

div#myProvincesDialog div.myProvincesList li {
    cursor: pointer;
}


/*-- fieldsetToogle --*/
fieldset.fieldsetToogle + fieldset.fieldsetToogle {
    margin-top: 5px;
}
fieldset.fieldsetToogle span.ui-icon {
    float: left;
    cursor: pointer;
}
fieldset legend {
    width: 100%;
}
fieldset.visible div.content {
    display: block;
}
fieldset.hidden div.content {
    display: none;
}

fieldset.battle div.content div.scroll {
    width: 100%;
    max-height: 200px;
    overflow: auto;
}


/*-- enemyDialog --*/
#enemyDialog fieldset table td {
    width: 100px;
}
#enemyDialog fieldset table td + td {
    width: 200px;
}
#enemyDialog fieldset table td div.sliderInfo div.min {
    float: left;
}
#enemyDialog fieldset table td div.sliderInfo div.max {
    float: right;
}
#enemyDialog fieldset table td div.sliderInfo input.current {
    /*    float: left;*/
    margin-left: 50px;
    width: 50px;
}

/*-- Loading dialog --*/
#loadingDialog div.title span.loaded {
    display: none;
}
#loadingDialog div.title {
    color: #9A9384;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
#loadingDialog > div {
    margin-bottom: 5px;
}
#loadingDialog div.progresDetails table {
    width: 80%;
    margin-left: 30px;
}
#loadingDialog div.progresDetails table td {
    height: 40px;
}
#loadingDialog div.progresDetails td img {
    height: 30px;
}

#battleResultDialog .won, #battleResultDialog .lost {
    font-weight: bold;
    font-size: 14px;
}
#battleResultDialog .won img, #battleResultDialog .lost img {
    float: left;
}
#battleResultDialog .won div, #battleResultDialog .lost div {
    padding-top: 20px;
}
#battleResultDialog .won div {
    color: green;
}
#battleResultDialog .lost div {
    color: red;
}


/*-- Building Chooser ---*/
#buildingChooser .buildItem {
    border-bottom: #111 4px solid;
    padding-top: 12px;
    position: relative;
}
.buildingCart .left {
    float: left;
    border: #1f1f1f 1px solid;
    background-color: #FFE69C;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
}

.buildingCart .info{
    margin-left: 160px;
}

.buildingCart .type {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.buildingCart .levelWrapper {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.buildingCart .levelWrapper .level {
    font-weight: bold;
    font-size: 14px;
}
.buildingCart .avatar img {
    max-width: 120px;
    max-height: 120px;
}
.buildingCart .buildActionButton {
    float: right;
}
#buildingChooser .buildItem .more {
    float: right;
    margin-top: -20px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#buildingChooser .buildItem .extendInfo {
    display: none;
    border: black 1px solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #D9CBA0;
    padding: 5px;
    margin-top: 20px;
}

#buildingChooser .buildItem .extendInfo .extTable {
    height: 200px;
    width: 155px;
    float: left;
    border-right: black 1px solid;
    border-left: black 1px solid;
}

#buildingChooser .buildItem .extendInfo .extGain{
    border-left: none;
}

#buildingChooser .buildItem .extendInfo .extOther{
    border-right: none;
}

#buildingChooser .noRes {
    opacity: 0.6;
}
.buildingCart .noRes .buildActionButton,
.buildingCart .maxLevel .buildActionButton {
    display: none;
}


/*-- Building Updater ---*/
#buildingUpgrader .upgrateUnable {
    display: none;
    text-align: center;
    color: white;
    border: red 1px solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #c40000;
    float: right;
    width: 140px;
    font-size: 11px;
    font-weight: bold;
    padding: 3px;
}
#buildingUpgrader .noRes .upgrateUnable {
    display: block;
}
#buildingUpgrader .comparerWrapper {
    border: black 1px solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #D9CBA0;
    padding: 5px;
    margin-top: 20px;
}
#buildingUpgrader .comparer > div {
    float: left;
    height: 200px;
    width: 155px;
    border-right: black 1px solid;
    border-left: black 1px solid;
}
#buildingUpgrader .comparer .cmpGain {
    border-left: none;
}
#buildingUpgrader .comparer .cmpOther {
    border-right: none;
}

.requTable {
    border-collapse: collapse;
}
.requTable td {
    padding-right: 5px;
}
.requTable .requName,
.requTable .requValue,
.requTable .requLack div {
    border-bottom: 1px solid silver;
}
.requTable .requLack div {
    position: relative;
    top: 1px;
    left: -1px;
}
.requTable .requName {
    padding-left: 10px;
}
.requTable .requValue {
    padding-right: 10px;
}
.requTable .requLack div {
    color: #c40000;
}

/*-- Message Dialog --*/
#messageDlg thead {
    font-weight: bold;
    color: #451616;
    text-align: center;
}
#messageDlg table td {
    vertical-align: middle;
}
#messageDlg tbody .type {
    font-weight: bold;
    text-align: center;
}
#messageDlg tbody .content {
}

#messageDlg tbody .date {
    font-size: 10px;
    color: gray;
    text-align: center;
}


#moveSoildiersDlg {

}
#moveSoildiersDlg .sliderInfo .armyCnt {
    float: right;
}
#moveSoildiersDlg .sliderInfo input.armySliderVal {
    width: 50px;
    margin-left: 100px;
}
#moveSoildiersDlg .action {
    margin-top: 20px;
}
#moveSoildiersDlg .action {
    text-align: center;
}

#nameChangerDlg {
    text-align: center;
}



/*Nadpisanie JQuery UI*/
body div.ui-widget-overlay {
    position: fixed;
}
body .ui-widget {
    font-size: 0.8em;
}