body
{
    margin:0;
    padding: 0;
    background: url(../graphics/tloM.png) repeat;
    text-align: center;
}

.mainWrapper
{
    width:813px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.wrapper
{
    background: url(../graphics/mapa.png) bottom no-repeat;
}

.logo
{
    background: url(../graphics/top.png) bottom no-repeat;
    height: 360px;
}

.mainContent
{
    clear: both;
    margin-left: 50px;
    margin-right: 50px;
    padding: 80px;
    padding-bottom: 100px;
    text-align: center;
}

.footer
{
    height: 100px;
    filter:alpha(opacity=30);
    opacity: 0.3;
    -moz-opacity: 0.3;
    background: black;
}

.menu
{
    margin:0;
    padding: 0;
    margin-left: 100px;
    margin-top: -50px;
    height: 50px;
    list-style: none;
}

.menu a
{
    display: block;
    text-decoration: none;
    width: 110px;
    height: 40px;
    margin-right: 55px;
    filter: alpha(opacity=99);
    -moz-opacity: 0.99;
    opacity: 0.99;
}
.menu a:hover {
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    opacity: 0.80;
}

.menu li
{
    float: left;
    text-decoration: none;
}


#account
{
    background: url(../graphics/konto.png);
}

#rules
{
    background: url(../graphics/zasady.png);
}

#screens
{
    background: url(../graphics/screens.png);
}

#start
{
    background: url(../graphics/start.png);
}


div.mainContent div.fieldbundle label {
    display: inline-block;
    width: 130px;
}

div.mainContent div.fieldbundle input {
    display: inline-block;
    width: 160px;
    height: 30px;
    border: none;
    background: url(../graphics/textbox.png) transparent no-repeat;
    padding-left: 20px;
}